@import "./componentes/_global.styl"
@import "./componentes/_header.styl"
@import "./componentes/_presentacion.styl"
@import "./componentes/_patrocinadores.styl"
@import "./componentes/_information.styl"
@import "./componentes/_contact.styl"
@import "./componentes/_impresion.styl"
@import "./componentes/_nosotros.styl"
@import "./componentes/_ubicanos.styl"
@import "./componentes/_redes.styl"
@import "./componentes/_imagenes.styl"