*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: 'Roboto', sans-serif

body
    min-width: 320px
    background-color: #2C2C2C

@media screen and (min-width 800px)
    body 
        display flex
        justify-content: center

