.Main__section
    .nosotros--section
        padding-top: 15rem
        .title--container
            background-color: #FF4060
            width 100%
            height 6rem
            color: white
            font-size: 2rem
            font-weight: 500
            text-align: center
            line-height: 6rem

        .nosotros--container
            max-width: 50rem
            text-align: justify
            word-spacing: 0.2rem
            margin: 0 auto
            width 100%
            padding-top: 2rem
            padding-left: 2rem
            padding-right: 2rem
            font-size: 1.7rem
            font-weight: 300
            color black

            img 
                display none

@media screen and (min-width 900px)
    .Main__section
        .nosotros--section
            padding-top: 10rem
            .title--container
                height 4rem
                line-height: 4rem
                font-size: 1.8rem
            .nosotros--container
                display flex
                justify-content center
                text-align: justify
                word-spacing: 0
                margin: 0
                width 100%
                background-color: white
                padding-top: 0.5rem
                padding-left: 1rem
                padding-right: 1rem
                height 18rem
                font-size: 1.6rem
                font-weight: 300
                color black
                padding-right: 8rem
                max-width: none
                p
                    padding-top: 3rem
                    width 55rem
                img 
                    display: block
                    width 20rem
                    margin: 0 6rem